table {
    border: 2px black solid;
}

td {
    border: 1px black solid;
}

#cardContainer {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    text-align: center;
    gap: 10px;
}

.cardText {
    margin: 0px;
    padding: 0px;
}